<div class="container">
  <h1>Pagination - Paginación</h1>
</div>

<!------------------------------------------------------------------->
<div class="container">
  <h1>Sort - Ordenar tabla de datos ASC o DESC</h1>
</div>

<!------------------------------------------------------------------->
<div class="container">
  <h1>Data table filtering - Filtrado de tablas de datos</h1>
</div>

<!------------------------------------------------------------------->
<div class="container">
  <h1>Exploring Data table - Explorando la tabla de datos</h1>
</div>

<!------------------------------------------------------------------->
<div class="container">
  <h1>Data table - Tabla de datos</h1>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort >
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Dialog - Dialogo</h1>

  <button mat-raised-button (click)="openDialog()">Open Dialog</button>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Snackbar - Popup </h1>

  <button mat-button (click)="openSnackBar('Item deleted', 'Dismiss')">
    Show snack-bar</button>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Tool tip - Herramienta que funciona como hover oanotaciones o letreros</h1>

  <button
  mat-raised-button
  matTooltip="Welcome to Codevolution"
  matTooltipPosition="after"
  matTooltipShowDelay="2000"
  matTooltipHideDelay="2000">Hello</button>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Date picker - Selector de fechas</h1>

  <mat-form-field>
    <input matInput [matDatepicker]="myDatePicker" [min]="minDate" [max]="maxDate">
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker startView="multi-year"></mat-datepicker>
  </mat-form-field>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Radio Buttons</h1>

  <mat-radio-group>
    <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
    <mat-radio-button value="react" color="accent">React</mat-radio-button>
    <mat-radio-button value="vue" color="warn">Vue</mat-radio-button>
  </mat-radio-group>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Checkbox</h1>

  <mat-checkbox color="primary">Subscribe</mat-checkbox>
  <br>
  <mat-checkbox color="accent">Subscribe</mat-checkbox>
  <br>
  <mat-checkbox color="warn" labelPosition="before">Subscribe</mat-checkbox>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Autocomplete</h1>
<form>
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Select - Elementos de selección de formularios</h1>
  <h1>Lista desplegable y/o con checkbox (multiple)</h1>
  <mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue" multiple>
      <mat-option>None</mat-option>
      <mat-optgroup label="Web">
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="react">React</mat-option>
      <mat-option value="vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mobile">
      <mat-option value="ionic">Ionic</mat-option>
      <mat-option value="reactnative">React Native</mat-option>
    </mat-optgroup>
    </mat-select>
  </mat-form-field>
  {{selectedValue}}
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Input - Campos de entrada</h1>

  <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 letras</mat-hint>
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 letras</mat-hint>
  </mat-form-field>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Stepper - Descripción de un paso a paso</h1>

  <mat-horizontal-stepper linear>
    <mat-step label="Shipping Address" completed="true">
      <p>Shipping address details</p>
    </mat-step>
    <mat-step label="Billing Address" completed="false" optional>
      <p>Billing address details</p>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </mat-step>
    <mat-step label="Place Order" completed="false">
      <p>Place order details</p>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-divider></mat-divider>

  <mat-vertical-stepper linear>
    <mat-step label="Shipping Address" completed="true">
      <p>Shipping address details</p>
    </mat-step>
    <mat-step label="Billing Address" completed="false" optional>
      <p>Billing address details</p>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </mat-step>
    <mat-step label="Place Order" completed="false">
      <p>Place order details</p>
    </mat-step>
  </mat-vertical-stepper>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Tabs - Pestañas</h1>

  <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
    <mat-tab label="Angular">Angular content</mat-tab>
    <mat-tab label="React">React content</mat-tab>
    <mat-tab label="Vue">Vue content</mat-tab>
  </mat-tab-group>
  {{tabRef.selectedIndex}}
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Cards - Tarjetas</h1>
  <mat-card>
    <mat-card-title>Card title</mat-card-title>
    <mat-card-content>This is the card content</mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button>Login</button>
    </mat-card-actions>
  </mat-card>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Expansion del panel</h1>

<mat-accordion multi="true"><!--con este se expande y deja un margin, sin este solo expande y sin margin -- el multi es para abrir varios y no solo uno-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Fundamentos de angular</mat-panel-title>
      <mat-panel-description>Total duración: 3 horas</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Este es el contenido del panel. Añadir detalles al curso.</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Angular materials</mat-panel-title>
      <mat-panel-description>Total duración: 2 horas</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Este es el contenido del panel. Añadir detalles al curso.</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Grid list - Lista de cuadrícula - Filas y columnas</h1>
  <mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
    <mat-grid-tile rowspan="2" class="bg-primary">Tile 1</mat-grid-tile>
    <mat-grid-tile class="bg-primary">Tile 2</mat-grid-tile>
    <mat-grid-tile class="bg-primary">Tile 3</mat-grid-tile>
    <mat-grid-tile colspan="2" class="bg-primary">Tile 4</mat-grid-tile>
  </mat-grid-list>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Lista</h1>

  <mat-list>
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Heading</h3>
    <p matLine>Line</p>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Heading 2</h3>
    <p matLine>Line 2</p>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>

  <mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Services</a>
  </mat-nav-list>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Menu</h1>
  <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Frontend</button>
    <button mat-menu-item>Backend</button>
  </mat-menu>

  <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>

  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
  </mat-menu>

  <mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Hobby is {{hobby}}</button>
    <button mat-menu-item>Log out {{name}} </button>
  </ng-template>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerData]="{name:'Vishwas', hobby:'football'}" [matMenuTriggerFor]="lazyMenu">Vishwas</button>
  <button mat-raised-button [matMenuTriggerData]="{name:'Codevolution', hobby:'teaching'}" [matMenuTriggerFor]="lazyMenu">Codevolution</button>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Sidenav - Menu lateral</h1>
  <mat-sidenav-container  class="h-100"><!--mode:over, push, side-->
    <mat-sidenav #sidenav (opened)="log('opened')" (closed)="log('closed')" mode="side" [(opened)]="opened" class="p-5 bg-primary w-200px">Sidenav</mat-sidenav>
    <mat-sidenav-content class="p-5">Main
      <button (click)="opened = !opened">Toggle opened</button>
      <button (click)="sidenav.open()">Open</button>
      <button (click)="sidenav.close()">Close</button>
      <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Navbar</h1>
  <mat-toolbar color="primary" class="justify-content-between">
    <div>Codevolution</div>
    <div>
      <span class="pr-5">Home</span>
      <span class="pr-5">About</span>
      <span class="pr-5">Services</span>
    </div>
  </mat-toolbar>
</div>

<!------------------------------------------------------------------->
<br><br>
<div class="container">
<h1>Progress Spinner</h1>
<mat-progress-spinner value="100"></mat-progress-spinner>
<mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
<button (click)="loadData()">Load Data</button>
</div>

<!------------------------------------------------------------------->
<div class="container mt-5">
  <h1>Boton</h1>
</div>
<div class="container">
<button mat-button>Click me!</button>
<button mat-raised-button>Click me!</button>
<button mat-flat-button>Click me!</button>
<button mat-stroked-button>Click me!</button>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <button mat-icon-button>Icon</button>
  </div>
  <div class="col">
    <button mat-fab>Fab</button>
  </div>
  <div class="col">
    <button mat-mini-fab>Minifab</button>
  </div>
</div>
<div class="container">
      <button color="primary" mat-button>Primary</button>
      <button color="accent" mat-button>Accent</button>
      <button color="warn" disableRipple mat-button>Warn</button>
</div>
<div class="container">
      <button color="primary" mat-raised-button>Primary</button>
      <button color="accent" mat-raised-button>Accent</button>
      <button color="warn" mat-raised-button>Warn</button>
</div>
<br><br>

<!------------------------------------------------------------------->
<h1>Button Toggle</h1>
<div class="container">
  <mat-button-toggle #toggleBtn checked disableRipple disabled>Toggle</mat-button-toggle><br>
  {{toggleBtn.checked}}
</div>
<br>
<div class="container">
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group><br>
  {{toggleGroup.value}}
</div>
<br><br>

<!------------------------------------------------------------------->
<h1>Iconos</h1>
<mat-icon>grade</mat-icon>
<mat-icon>upgrade</mat-icon>
<mat-icon>save alt</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<br><br>

<!------------------------------------------------------------------->
<h1>Badges - notificaciones</h1>
<span matBadge="6">Notificaciones</span><br><br>
<span matBadge="6" matBadgePosition="below before">Notificaciones</span><br><br>
<span matBadge="6" matBadgePosition="below after">Notificaciones</span><br><br>
<span matBadge="6" matBadgePosition="above before">Notificaciones</span><br><br>
<!--Tamaño-->
<span matBadge="6" matBadgeSize="small">Notificaciones</span><br><br>
<span matBadge="6" matBadgeSize="medium">Notificaciones</span><br><br>
<span matBadge="6" matBadgeSize="large">Notificaciones</span><br><br>
<!--colores-->
<span matBadge="4" matBadgeColor="primary">Notificaciones</span><br><br>
<span matBadge="4" matBadgeColor="accent">Notificaciones</span><br><br>
<span matBadge="4" matBadgeColor="warn">Notificaciones</span><br><br>
<span matBadge="4" matBadgeColor="warn" matBadgeOverlap="false">Notificaciones</span><br><br>

<span [matBadge]="notificaciones" matBadgeOverlap="false">Notificaciones</span><br><br>
<span [matBadge]="notificaciones" [matBadgeHidden]="notificaciones===0" matBadgeOverlap="false">Notificaciones</span>
