<div class="container mt-5">
  <h1>Boton</h1>
</div>
<div class="container">
<button mat-button>Click me!</button>
<button mat-raised-button>Click me!</button>
<button mat-flat-button>Click me!</button>
<button mat-stroked-button>Click me!</button>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <button mat-icon-button>Icon</button>
  </div>
  <div class="col">
    <button mat-fab>Fab</button>
  </div>
  <div class="col">
    <button mat-mini-fab>Minifab</button>
  </div>
</div>

<div class="container">
      <button color="primary" mat-button>Primary</button>
      <button color="accent" mat-button>Accent</button>
      <button color="warn" disableRipple mat-button>Warn</button>
</div>

<div class="container">
      <button color="primary" mat-raised-button>Primary</button>
      <button color="accent" mat-raised-button>Accent</button>
      <button color="warn" mat-raised-button>Warn</button>
</div>
<br><br>
<h1>Button Toggle</h1>
<div class="container">
  <mat-button-toggle #toggleBtn checked disableRipple disabled>Toggle</mat-button-toggle><br>
  {{toggleBtn.checked}}
</div>
<br>
<div class="container">
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group><br>
  {{toggleGroup.value}}
</div>
<br><br>
<h1>Iconos</h1>
<mat-icon>grade</mat-icon>
<mat-icon>upgrade</mat-icon>
<mat-icon>save alt</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

<br><br>
<h1>Badges - notificaciones</h1>
<span matBadge="6">Notificaciones</span><br><br>
<span matBadge="6" matBadgePosition="below before">Notificaciones</span><br><br>
<span matBadge="6" matBadgePosition="below after">Notificaciones</span><br><br>
<span matBadge="6" matBadgePosition="above before">Notificaciones</span><br><br>
<!--Tamaño-->
<span matBadge="6" matBadgeSize="small">Notificaciones</span><br><br>
<span matBadge="6" matBadgeSize="medium">Notificaciones</span><br><br>
<span matBadge="6" matBadgeSize="large">Notificaciones</span><br><br>
<!--colores-->
<span matBadge="4" matBadgeColor="primary">Notificaciones</span><br><br>
<span matBadge="4" matBadgeColor="accent">Notificaciones</span><br><br>
<span matBadge="4" matBadgeColor="warn">Notificaciones</span><br><br>
<span matBadge="4" matBadgeColor="warn" matBadgeOverlap="false">Notificaciones</span><br><br>

<span [matBadge]="notificaciones" matBadgeOverlap="false">Notificaciones</span><br><br>
<span [matBadge]="notificaciones" [matBadgeHidden]="notificaciones===0" matBadgeOverlap="false">Notificaciones</span>
